main {
	text-align: center;
	display: grid;
	margin-top: var(--nav-height);
	grid-template-rows: min-content min-content auto;
	align-items: flex-start;
	height: 100%;
	gap: 5vw;
	padding-bottom: 2rem;
}

iframe {
	margin-inline: auto;
	width: 75%;
	height: 80vmin;
	border-radius: 1rem;
}

.socials__container_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.socials__container_list .icon {
	min-width: 7vmin;
	min-height: 7vmin;
	opacity: 0.6;
	transition: opacity .2s ease-in-out;
}

.socials__container_list .icon:hover {
	opacity: 1;
}


@keyframes appear {
	0% {
		opacity: 0;
		left: 0;
	}

	25% {
		opacity: 1;
		left: -30%;
	}

	50% {
		left: 30%;
	}

	100% {
		opacity: 1;
		left: 0;
	}
}

.contacts {
	align-self: flex-start;
	background-color: #232323;
	padding-block: 1rem;
}

.contacts ul {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 2rem;
}

.contacts .contact {
	color: #84c4ff93;
	font-size: 2.5vmin;
}

.contacts .contact:hover a {
	text-decoration: underline !important;
}

.contacts .contact:last-of-type {
	color: #b1cae2e0;
}