@import "./utils.css";
@import "./normalize.css";

main {
	padding-top: 120px;
}

.gallery-container {
	padding-bottom: 4rem;
}

.title {
	margin-bottom: 3rem;
	padding: 1rem 0;
}

.gallery-container {
	width: 75%;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	justify-content: center;
	gap: 0.375rem;
	margin-bottom: 4rem;
}

.img-container {
	position: relative;
	opacity: 0;
	left: -5px;
	margin: 0 auto;
	border-radius: 0.375rem;
	overflow: hidden;
	transition: opacity 0.6s ease, left 0.6s ease;
}

@media only screen and (min-width: 1024px) {
	.gallery-container {
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	}
}
