@import "./utils.css";
@import "./normalize.css";

main {
	position: relative;
	overflow: hidden;
}

.img-container img {
	opacity: 0;
	filter: blur(20px);
}

.main__whatsapp {
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 3;
}
