:root {
	/* Bg Color */
	--bg-dark: #1f1d1d;
	--bg-light: #ffffff;

	/* Text Color */
	--txt-dark: #000000;
	--txt-light: #ffffff;
	--txt-gray: #2c2424b2;

	/* Font Family */
	--ff-normal: serif, sans-serif, Arial, Helvetica, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;

	/* Font Size */
	--fs-normal: clamp(1rem, 2vw, 3rem);
	--fs-title: clamp(2rem, 200%, 7rem);
	--fs-sub-title: clamp(1.5rem, 3vw, 5rem);

	/* Font Weight */
	--fw-normal: 400;
	--fw-bold: bold;

	/* Paddings */
	--p-1: 0.5rem;
	--p-2: calc(var(--p-1) * 2);
	--p-3: calc(var(--p-1) * 3);

	--gap-1: 0.5vw;
	--gap-2: calc(var(--gap-1) * 2);
	--gap-3: calc(var(--gap-1) * 3);

	/* Others */
	--blur: 5px;
	--full-w: 100vw;
	--full-h: 100vh;
	--nav-height: clamp(80px, 8vw, 9vmin);
}

.bg-dark {
	background: linear-gradient(90deg, #131313, #080e37b7, #131313);
	color: var(--txt-light);
}

.bg-light {
	background-color: var(--bg-light);
	color: var(--txt-dark);
}

.txt-dark {
	color: var(--txt-dark);
}

.txt-light {
	color: var(--txt-light);
}

.txt-gray {
	color: var(--txt-gray);
}

.ff-normal {
	font-family: var(--ff-normal);
}

.fs-normal {
	font-size: var(--fs-normal);
}

.fs-title {
	font-size: var(--fs-title);
}

.fs-sub-title {
	font-size: var(--fs-sub-title);
}

.fs-ultra {
	font-size: var(--fs-ultra);
}

.fw-normal {
	font-weight: var(--fw-normal);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.container {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

@supports (backdrop-filter: blur()) {
	.blur {
		backdrop-filter: blur(var(--blur, 5px));
	}
}

.icon {
	width: 30px;
	height: 30px;
}

.full-w {
	width: var(--full-w);
}

.full-h {
	height: var(--full-h);
}

.p-1 {
	padding: var(--p-1);
}

.p-2 {
	padding: var(--p-2);
}

.p-3 {
	padding: var(--p-3);
}

.pl-1 {
	padding-left: var(--p-1);
}

.pl-2 {
	padding-left: var(--p-2);
}

.pl-3 {
	padding-left: var(--p-3);
}

.pt-1 {
	padding-top: var(--p-1);
}

.pt-2 {
	padding-top: var(--p-2);
}

.pt-3 {
	padding-top: var(--p-3);
}

.pr-1 {
	padding-right: var(--p-1);
}

.pr-2 {
	padding-right: var(--p-2);
}

.pr-3 {
	padding-right: var(--p-3);
}

.pb-1 {
	padding-bottom: var(--p-1);
}

.pb-2 {
	padding-bottom: var(--p-2);
}

.pb-3 {
	padding-bottom: var(--p-3);
}

.plr-1 {
	padding-left: var(--p-1);
	padding-right: var(--p-1);
}

.plr-2 {
	padding-left: var(--p-2);
	padding-right: var(--p-2);
}

.plr-2 {
	padding-left: var(--p-3);
	padding-right: var(--p-3);
}

.m-auto {
	margin: auto;
}

.gap-1 {
	gap: var(--gap-1);
}

.gap-2 {
	gap: var(--gap-2);
}

.gap-3 {
	gap: var(--gap-3);
}

.txt-middle {
	text-align: center;
}
