.socials_container {
	position: fixed;
	right: 4%;
	bottom: 2%;
	z-index: 3;
}

.socials__container_list .icon {
	position: relative;
	margin: 1rem 0;
}

@keyframes appear {
	0% {
		opacity: 0;
		left: 0;
	}
	25% {
		opacity: 1;
		left: -30px;
	}
	50% {
		left: 30px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
